html,
body {
  height: 100%;
}

body {
  color: white;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(152, 195, 181, 0.911);
}

select {
  min-width: 4rem;
}

.form-calculator {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  color: #212121;
  border-radius: 25px;
  opacity: 90%;
}

@media (max-width: 768px) {
  .form-signin {
    max-width: 330px;
  }
}

.form-calculator .checkbox {
  font-weight: 400;
}

.form-calculator .form-floating:focus-within {
  z-index: 2;
}

.form-calculator input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

button {
  min-width: 5rem;
  border-radius: 0.7rem !important;
}
